doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport' 
          content='width=device-width, initial-scale=1, shrink-to-fit=no')
    title Alpine passes
    link(rel='stylesheet' type='text/css' href='./styles.css')
  body
    .content-wrapper
      .map-wrapper
        h1 Alpine passes
        #map
      .passes-wrapper
        include mixins/pass-list-item.pug
        ul.passes-list
          each pass in passes
            + passListItem(pass)
    script(src='./js/index.js')
    script(
        src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBn9e17q4EeMslFlH4iA9INljgj7b48IDI&callback=initMap'
        async
        defer)