doctype html
html(lang='en')
  head
    title Pass rate
    meta(name='viewport' content='initial-scale=1.0')
    meta(charset='utf-8')
    link(rel='stylesheet' type='text/css' href='./styles.css')
  body
    #map
    script(src='./app.js')
    script(
        src='https://maps.googleapis.com/maps/api/js?key=AIzaSyBn9e17q4EeMslFlH4iA9INljgj7b48IDI&callback=initMap'
        async
        defer)