mixin passListItem(data)
    li
        .pass-name #{data.pass.name}
        .pass-details
            strong Country:
            |
            |
            span #{data.country}
            |
            |
            span.region #{data.region}
            |
            |
            a.card-link(href=`./${data.slug}.html`) Details