mixin passCard(data)
    .col-sm-6.col-md-4
        .card.mb-3
            .card-body
                h4.card-title #{data.pass.name}
                p.card-text 
                    strong Elevation:
                    |
                    | #{data.pass.elevation}
                    br
                    strong Slope:
                    |
                    | #{data.pass.slope}