mixin passListItem(data)
    li
        .pass-name #{data.pass.name}
        .pass-details
            span.region(data-country=`${data.country}`) #{data.region}
            |
            |
            a.card-link(href=`./${data.slug}.html`) Details