@import 'variables';

html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 18px;
}

@import 'layout-small';

@media (min-width: $break-point) {
    @import 'layout-large';
}

h1 {
    text-align: center;
}

.passes-list {
    list-style: none;
    padding: 0;

    @media (min-width: $break-point) {
        padding: 2rem;
    }

    > li {
        display: flex;
        align-items: stretch;

        .pass-name {
            flex-grow: 2;
        }
    }
}

.region {
    font-style: italic;
}
